
@model IEnumerable<Ipam.Dto.IpAddressDto>

@{    ViewData["Title"] = "IP Addresses";
    var addressSpaceId = ViewBag.AddressSpaceId;
}

<h1>IP Addresses for Address Space @addressSpaceId</h1>

<p>
    <a asp-action="Create" asp-route-addressSpaceId="@addressSpaceId">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { addressSpaceId = addressSpaceId, id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { addressSpaceId = addressSpaceId, id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { addressSpaceId = addressSpaceId, id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
