
@model Ipam.Dto.TagDto

@{    ViewData["Title"] = "Tag Details";
    var addressSpaceId = ViewBag.AddressSpaceId;
}

<h1>Tag Details</h1>

<div>
    <h4>Tag</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KnownValues)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KnownValues)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attributes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attributes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-addressSpaceId="@addressSpaceId" asp-route-name="@Model.Name">Edit</a> |
    <a asp-action="Index" asp-route-addressSpaceId="@addressSpaceId">Back to List</a>
</div>
